# git-ls-files --others --exclude-from=.git/info/exclude
# OSX
.VolumeIcon.icns
.fseventsd
.Spotlight-V100
.Trashes
.DS_Store
._*
Icon?


# Junk
*~
*.sw?
*.pid
*.db
*.sqlite
# *.log
*.[oa]

# Python
pip-log.txt
*.py[oc]
*.egg-info
*.mako.py[oc]?
dist/